@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monserrat";
  src: url("/src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/src/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  --color-white: #fff;
  --color-black: #000;
}

* {
  font-family: "Inter" "Monserrat" sans-serif;
}

h1 {
  font-family: "Bebas Neue";
}

body {
  --color-white: #ffffff;
  --color-white-30: oklch(from var(--color-white) l c h / 0.3);
  --color-black: #000000;
  --color-ps-blue: #0070cc;
  --color-ps-dark-blue: #003087;
  --color-background-primary: #1f1f1f;
  --color-background-secondary: #2d2d2d;
  --color-background-card: #1a1a1a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-accent: #0070cc;
  --color-hover: #0082eb;
  --color-border-0: oklch(from #B18FB5 l c h / 0.38);
  --color-border-100: #CAA7D1;
  --color-success: #00d563;
  --color-error: #ff3333;
  --color-gradient-start: #0070cc;
  --color-gradient-end: #003087;

  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}

/* ## Constantes */
.nav-link {
  color: var(--color-text-primary);
  text-decoration: none;
  font-size: 1.5rem;

  &.active {
    font-weight: bold;
  }
}

/* ## Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2vw;
  padding-block: 10px;

  > *  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    &:last-child {
      gap: 3vw;
    }
  }

  time {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

/* Container principal */
.swiper-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: var(--color-background-primary);
}

.swiper {
  width: 100%;
  height: fit-content;
  padding: 100px;
}

.swiper-wrapper {
  align-items: flex-start;
  padding: 50px;
  margin-left: 15%;
}

$size: 106;
$size-active: 106 * 1.5;
$animation-time: 0.4s;
.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &.swiper-slide-active {
    width: #{$size-active}px !important;
    height: #{$size-active}px;
  }
}

.card-project {
  position: relative;
  width: #{$size}px;
  height: #{$size}px;
  border-radius: 16px;
  background: var(--color-background-card);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all #{$animation-time} cubic-bezier(0.4, 0.2, 0.2, 1);

  &:hover {
    cursor: pointer;
  }

  img:not(.icon) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  .icon {
    width: 50%;
    height: 50%;
  }

  &.active {
    width: #{$size-active}px;
    height: #{$size-active}px;
  }

  &.active {
    &:before {
      content: "";
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      z-index: -1;
      border-radius: inherit;
      background: linear-gradient(
        to right, var(--color-border-100), var(--color-border-0)
      );
      margin: -5px;
    }

    + div {
      position: absolute;
      right: 0;
      bottom: 0;
      padding-left: 20px;
      transform: translateX(100%);
      animation: display #{$animation-time} linear;
    }
  }
}

@keyframes display {
  from {
    opacity: 0;
    transform: translate(100%, 50%);
  } to {
    opacity: 1;
    transform: translate(100%, 0);
  }
}