@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monserrat";
  src: url("/src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  --color-white: #fff;
  --color-black: #000;
}

* {
  font-family: "Inter", "Monserrat", sans-serif;
}

h1 {
  font-family: "Monserrat", "Inter", sans-serif;
}

body {
  --color-white: #ffffff;
  --color-white-30: oklch(from var(--color-white) l c h / 0.3);
  --color-black: #000000;
  --color-ps-blue: #0070cc;
  --color-ps-dark-blue: #003087;
  --color-background-primary: #1f1f1f;
  --color-background-secondary: #2d2d2d;
  --color-background-third: #3b3b3b;
  --color-background-card: #1a1a1a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-accent: #0070cc;
  --color-hover: #0082eb;
  --color-border-0: oklch(from #B18FB5 l c h / 0.38);
  --color-border-100: #CAA7D1;
  --color-success: #00d563;
  --color-error: #ff3333;
  --color-gradient-start: #0070cc;
  --color-gradient-end: #003087;

  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}

/* ## Constantes */
.nav-link {
  color: var(--color-text-primary);
  text-decoration: none;
  font-size: 1.5rem;

  &.active {
    font-weight: bold;
  }
}

.border-hover {
  position: relative;
  border-radius: 10px;

  &:hover:before, &:focus:before {
    content: "";
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(
      to right, var(--color-border-100), var(--color-border-0)
    );
    margin: -5px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;

  input {
    display: none;
    visibility: collapse;
  }

  .checkbox-box {
    position: relative;
    display: inherit;
    width: 20px;
    aspect-ratio: 1/1;
    background-color: var(--color-white);
  }

  input:checked + .checkbox-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    aspect-ratio: 1/1;
    background-color: var(--color-background-third);
  }
}

/* ## Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2vw;
  padding-block: 10px;

  > *  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    &:last-child {
      gap: 3vw;
    }
  }

  time {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .nav-link {
    font-weight: bold;
    color: var(--color-white-30);

    &.active {
      color: var(--color-white);
    }
  }
}

.progessbar {
  position: relative;
  min-width: 100px;
  height: 3px;
  background-color: var(--color-background-secondary);
  margin-block: 5px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--progress);
    height: 100%;
    background-color: var(--color-text-primary);
  }
}

/* Container principal */
#home-nav-projects {
  margin-bottom: 10vh;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: var(--color-background-primary);
}

.swiper {
  width: 100%;
  height: fit-content;
  padding: 100px;
}

.swiper-wrapper {
  align-items: flex-start;
  padding: 50px;
  margin-left: 15%;
}

$size: 106;
$size-active: 106 * 1.5;
$animation-time: 0.4s;
.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &.swiper-slide-active {
    width: #{$size-active}px !important;
    height: #{$size-active}px;
  }
}

.card-project {
  position: relative;
  border-radius: 16px;
  background: var(--color-background-card);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all #{$animation-time} cubic-bezier(0.4, 0.2, 0.2, 1);

  &:hover {
    cursor: pointer;
  }

  &.size {
    width: #{$size}px;
    height: #{$size}px;
  }


  img:not(.icon) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  .icon {
    width: 50%;
    height: 50%;
  }

  &.active {
    width: #{$size-active}px;
    height: #{$size-active}px;
  }

  &.active {
    &:before {
      content: "";
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      z-index: -1;
      border-radius: inherit;
      background: linear-gradient(
        to right, var(--color-border-100), var(--color-border-0)
      );
      margin: -5px;
    }

    + div {
      position: absolute;
      right: 0;
      bottom: 0;
      padding-left: 20px;
      transform: translateX(100%);
      animation: display #{$animation-time} linear;
      text-wrap: nowrap;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

@keyframes display {
  from {
    opacity: 0;
    transform: translate(100%, 50%);
  } to {
    opacity: 1;
    transform: translate(100%, 0);
  }
}


/* Block */
.block {
  background-color: var(--color-background-secondary);
  border-radius: 20px;
  padding: 25px;
  min-width: 500px;

  &.aboutme {
    min-width: auto;
  }
}

#home-menu {
  > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin: 10px;
    overflow: auto;
  }

  .description {
    grid-area: 1 / 1 / 4 / 2;

    a {
      background-color: var(--color-white);
      color: var(--color-black);
      padding: 5px 10px;
      border-radius: 5px;
      width: fit-content;
    }
  }

  .collaborateur {
    grid-area: 1 / 2 / 2 / 3;

    figure {
      width: 100%;
      margin: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    img {
      width: 5vw;
      aspect-ratio: 1/1;
    }

    .content {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .stat {
    grid-area: 2 / 2 / 4 / 3;
  }

  .gallerie {
    grid-area: 1 / 3 / 3 / 4;
  }

  .trophies {
    grid-area: 3 / 3 / 4 / 4;
  }
}

#projets {
  margin: 20px 3vw;

  > div {
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
    font-weight: bold;
    font-size: 1rem;
  }

  main {
    display: flex;
    gap: 20px;

    > div {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }

    aside {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

/* About me */
#aboutme {
  header {
    figure {
      justify-content: start;
    }

    img {
      border-radius: 50%;
      width: 200px;
    }

    figcaption div {
      display: flex;
      gap: 10px;

      p:not(:last-child) {
        border-right: var(--color-white) 1px solid;
        padding-right: 10px;
      }

      p {
        margin: 0;
        margin-bottom: 10%;
      }
    }
  }

  nav {
    display: flex;
    gap: 50px;
    margin-block: 20px;
  }

  nav, main {
    padding-inline: 75px;
  }
}

/* Présentation */
#aboutme-presentation {
  > div:nth-child(1) {
    display: flex;
    align-items: stretch;
    padding-block: 30px;
    gap: 20px;

    > section {
      display: flex;
      flex: 1;
      flex-direction: column-reverse;
    }
  }

  .trophies h2 {
    margin-bottom: 10px;
  }
}

/* Composant */

.trophies {
  display: flex;
  flex-direction: column; 

  > div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
  }

  figure {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.recentproject, .mostprojectcollaborator {
  figure {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }

  img {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 10px;
  }

  h4 {
    margin: 0;
  }
}

.mostprojectcollaborator img {
  border-radius: 50%;
}

#aboutme-project {
  ul {
    list-style: none;

    li {
      padding: 10px 30px;
      margin-block: 20px;
      background-color: var(--color-background-primary);
    }

    li:not(:last-child) {
      border-bottom: var(--color-background-secondary) 1px solid;
    }
  }

  li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    text-decoration: none;

    > figure, > div {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    > div img + div + div {
      width: 50px;
      text-align: right;
    }
  }

  img {
    width: 50px;
  }

  figure {
    margin-left: 0;

    img {
      width: 150px;
    }

    h3 {
      margin: 0;
      margin-bottom: 10px;
    }
  }
}

#aboutme-collaborator {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-background-card);
    border-radius: 20px;
    padding: 30px 0;
    margin: 0;
  }

  img {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}



/* L'élément déclencheur devient un "anchor" */
.popup {
  position: relative;
  display: inline-block;

  button {
    anchor-name: --popup-anchor;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 15px;
    aspect-ratio: 1/1;
    background-color: var(--color-background-secondary);
    border-radius: 50%;

    .forward {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -10px;
      right: -20%;
      width: 30px;
      aspect-ratio: 1/1;
      font-size: 1rem;
      font-weight: bold;
      color: var(--color-text-primary);
      background-color: var(--color-background-third);
      border-radius: 50%;
    }
  }

  > div {
    position: absolute;
    position-anchor: --popup-anchor;

    top: -5px;
    left: 110%;
    margin-left: 8px;

    min-width: 200px;
    background-color: var(--color-background-secondary);
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 100;
  }

  .open {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
  }
}

/* Spécifique */
.popup {
  .search {
    padding: 10px;
    color: var(--color-text-primary);
    background-color: var(--color-background-third);
    border: none;
    border-radius: 5px;

    &::placeholder {
      color: var(--color-text-secondary);
    }
  }

  .sort, .filter {
    padding-block: 15px;
  }

  .sort {
    border-bottom: var(--color-border-100) 1px solid;

    select {
      width: 100%;
      padding: 10px;
      background-color: var(--color-background-secondary);
      color: white;
      border: 1px solid var(--color-white);
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .filter {
    summary {
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;

      &:hover {
        background-color: var(--color-background-third);
      }
    }

    div {
      display: grid;
      row-gap: 10px;
      padding: 10px;

      label {
        text-wrap: nowrap;
      }
    }
  }
}
