@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monserrat";
  src: url("/src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/src/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Inter" "Monserrat" sans-serif;
}

h1 {
  font-family: "Bebas Neue";
}

.actif {
  background-color: oklch(from #33f calc(l * 3) calc(c * 5) h);
}